/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn {
  from {
    transform: translateY(30px) translateX(10px);
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    transform: translateY(30px) translateX(10px);
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    transform: translateY(30px) translateX(10px);
    opacity: 0;
    opacity: 1\9; /* IE9 only */
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn cubic-bezier(0.74, 0.04, 0.31, 1.3) 1; /* call our keyframe named fadeIn, use animattion ease-in-out and repeat it only 1 time */
  -moz-animation: fadeIn cubic-bezier(0.74, 0.04, 0.31, 1.3) 1;
  animation: fadeIn cubic-bezier(0.74, 0.04, 0.31, 1.3) 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

/* ---------------- */

ul,
li {
  transition: padding-left 1s ease-in-out;
}

body {
  font-family: 'Roboto Mono', monospace;
  width: 90%;
  max-width: 900px;
  margin: 5em auto;
  background-color: white;
  line-height: 1.5em;
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

blockquote {
  margin: 0;
  text-align: left;
}

h1 {
  margin-left: -1em;
  text-align: left;
  font-size: 3em;
}

h2 {
  margin-left: -1em;
  display: table;
  white-space: nowrap;
  width: 100%;
}

a {
  color: rgb(0, 143, 136);
}

a:visited {
  color: rgb(0, 143, 136);
}

a:hover {
  color: rgb(5, 218, 207);
}

h2 {
  margin-top: 1em;
  display: table;
  white-space: nowrap;
}

h2:after {
  border-top: 1px solid black;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 100%;
}

h2:after {
  left: 1.5%;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.1em;
}

h4 {
  font-size: 1em;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

code {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida' 'Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  background-color: #ccc;
  color: black;
  padding: 1em;
  display: block;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  body {
    width: auto;
    padding: 3em;
    margin: 0;
  }

  li,
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  body {
    padding: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-left: 0;
  }

  .tech-list {
    flex-direction: column;
  }
}

.tech-list {
  display: flex;
}

.tech-icon {
  width: 15px;
  height: 15px;
}

@media print {
  * {
    color: black !important;
    line-height: 1.2em;
  }

  body {
    width: 90%;
    margin: 0 5%;
    font-size: 11px;
    letter-spacing: 0.5px;
  }

  a:hover {
    color: black;
    text-decoration: underline;
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
  }

  h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  pre {
    font-family: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif',
      Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif',
      Georgia, serif;
  }
}
