* {
  color: #333;
}

body {
  font-family: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida,
    'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
  width: 90%;
  max-width: 900px;
  margin: 5em auto;
  background-color: white;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4 {
  font-family: bold;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: #333;
}

blockquote {
  margin: 0;
  text-align: left;
}

h1 {
  margin-left: -1em;
  text-align: left;
  font-size: 3em;
  letter-spacing: 0.2em;
}

/* h2 { */
/*    font-size:1.5em; */
/*    margin-left: -1em; */
/*    border-bottom: 1px solid black; */
/*    padding-bottom: 0.2em; */
/* } */
h2 {
  margin-left: -1em;
  display: table;
  white-space: nowrap;
  width: 100%;
}

a {
  color: rgb(0, 143, 136);
}

a:visited {
  color: rgb(0, 143, 136);
}

a:hover {
  color: rgb(5, 218, 207);
}

h2 {
  margin-top: 1em;
  display: table;
  white-space: nowrap;
}

h2:after {
  border-top: 1px solid black;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 100%;
}

h2:after {
  left: 1.5%;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.1em;
}

h4 {
  font-size: 1em;
}

ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}

code {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida
   Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation
   Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  background-color: #ccc;
  color: black;
  padding: 1em;
  display: block;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  body {
    width: auto;
    padding: 3em;
    margin: 0;
  }

  h1 {
    font-size: 2em;
    margin-left: -0.5em;
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: 1.2em;
  }
}

@media print {
  * {
    color: black !important;
    line-height: 1.2em;
  }

  body {
    width: 90%;
    margin: 0 5%;
    font-size: 11px;
    letter-spacing: 0.5px;
  }

  a:hover {
    color: black;
    text-decoration: underline;
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
  }

  h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  pre {
    font-family: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif',
      Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif',
      Georgia, serif;
  }
}
